In [1]:
import pandas as pd

# Load processed data
df = pd.read_csv("../data/processed/chicago_crime_clean.csv")

# Ensure datetime
df["date"] = pd.to_datetime(df["date"])

df.head()

,date,primary_type,latitude,longitude,location_description,arrest,year
0,2026-01-25,assault,41.731145,-87.574354,RESIDENCE,False,2026
1,2026-01-25,deceptive practice,41.873808,-87.694456,OTHER (SPECIFY),False,2026
2,2026-01-25,battery,41.751810,-87.724634,RESIDENCE,False,2026
3,2026-01-25,motor vehicle theft,41.980779,-87.805438,STREET,False,2026
4,2026-01-25,battery,41.779998,-87.629295,GAS STATION,False,2026

In [2]:
df["hour"] = df["date"].dt.hour
df["day_of_week"] = df["date"].dt.dayofweek  # Monday=0
df["month"] = df["date"].dt.month

df[["date", "hour", "day_of_week", "month"]].head()

        date  hour  day_of_week  month
0 2026-01-25     0            6      1
1 2026-01-25     0            6      1
2 2026-01-25     0            6      1
3 2026-01-25     0            6      1
4 2026-01-25     0            6      1

In [6]:
spatial_features = df[["latitude", "longitude"]]

spatio_temporal_features = df[["latitude", "longitude", "hour"]]

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_spatial = scaler.fit_transform(spatial_features)

X_spatio_temporal = scaler.fit_transform(spatio_temporal_features)

In [8]:
X_spatial[:5] , X_spatio_temporal[:5]

(array([[-1.3407836 ,  1.5887858 ],
        [ 0.33784256, -0.44567728],
        [-1.09763698, -0.95686856],
        [ 1.5965144 , -2.32565142],
        [-0.76596277,  0.65812637]]),
 array([[-1.3407836 ,  1.5887858 , -1.92208732],
        [ 0.33784256, -0.44567728, -1.92208732],
        [-1.09763698, -0.95686856, -1.92208732],
        [ 1.5965144 , -2.32565142, -1.92208732],
        [-0.76596277,  0.65812637, -1.92208732]]))